
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/Home/Sidebar/customers.css"/>
<h2>Customers</h2>
<div id="search-bar">
    <input placeholder="Search for customer by name"/>
</div>
<div class="filter-buttons-row">
    <p>Filter by: </p>
    <button id="recently-viewed-button">Recently viewed</button>
    <button id="critical-status-button">Has critical status</button>
    <button id="warning-status-button">Has warning status</button>
</div>
<div class="customer-contents">
    <table class="customer-table">
        <thead class="customer-table-header">
        <tr>Customer Name</tr>
        <tr>Status</tr>
        <tr>Tags</tr>
        </thead>
        <tbody>
        @for (int i = 0; i < 10; i++)
        {
            <tr>
                <td>Customer @i</td>
                
            </tr>
        }
        </tbody>
    </table>

</div>
